center{
font-size:85;
}
body{
	background-color:url("ae.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
	

a.nodec
{
	text-decoration:none;
}
a:hover{
	
	text-decoration:none;
	color:white;
	background-color:#ccffcc;
}